body {
    margin: 0;
    padding: 0;
    background: #000;
    perspective: 75px;
    overflow: hidden;
    position: relative;
}

.animation {
    position: absolute;
    top: 0;
    left: 10vw;
    margin: 0 auto;
    width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: normal;
    transform: rotate3d(1, 0, 0, 25deg);
}

.animation p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: gold;
    text-align: justify;
}

@keyframes move {
    0% {
        padding-top: 60vh;
        padding-bottom: 0;
    }

    100% {
        padding-top: 5vh;
        padding-bottom: 1000px;
    }
}